@tailwind base;
@tailwind components;
@tailwind utilities;

#__next_dev_overlay {
  display: none !important;
}

.thermionix-white-contianer {
  background-color: var(--bg-white);
  padding: 1.25rem;
}

:root {
  /* Colors */
  --primary-color: #00a76f;
  --secondary-color: rgba(0, 167, 111, 0.2);

  --error-color: #e53935;
  --error-bg: rgba(229, 57, 53, 0.1);

  --warning-color: #ff9800;
  --warning-bg: rgba(255, 152, 0, 0.1);

  --success-color: #4caf50;
  --success-bg: rgba(76, 175, 80, 0.1);

  --info-color: #2196f3;
  --info-bg: rgba(33, 150, 243, 0.1);

  /* Backgrounds */
  --bg-white: #ffffff;
  --bg-dirty-white: #f8f8f8; /* slightly gray for “floating” cards */
}

[data-theme="dark"] {
  --bg-white: #1f1f1f;
  --bg-dirty-white: #2c2c2c;
  --primary-color: #00a76f; /* can stay same or adjust for dark mode */
  --secondary-color: rgba(0, 167, 111, 0.2); /* tweak if needed */
  --error-bg: rgba(229, 57, 53, 0.2);
  --warning-bg: rgba(255, 152, 0, 0.2);
  --success-bg: rgba(76, 175, 80, 0.2);
  --info-bg: rgba(33, 150, 243, 0.2);
}
